
.camera-list small {
    color: #aaa;
}

.camera-list td:first-child {
    width: 20px;
}

.status {
  display: inline-block;
}

.status::after {
  content: '\0020';
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.35), 0 1px 0 rgba(255,255,255, 1);
}

.status.status-on::after { background-color: #60BA47; }
.status.status-recording::after { background-color: #DE2F2F; }
.status.status-off::after { background-color: #fc5; }
.status.status-notfound::after { background-color: #aaa; }

.panel-footer {
    font-size: 80%;
    font-style: italic;
}

.camera-group-control div.btn-group {
    margin: 0 10px 15px 0;
}

.camera-group-control {
    margin-bottom: -15px;
}

.modal {
    overflow-y: auto; /* not sure why they have 'scroll' in place but i like 'auto' better */
}
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}
.raw-group div {
    font-family: monospace;
    font-size: 12px;
}

.raw-group span {
    color: red;
}

.modal-gopro-thumb {
    text-align:center
}

.modal-gopro-thumb .gopro-thumb {
    max-width: 500px;
    max-height: 300px;
    background-color: #eee;
}

.preview-list {
    margin-left: -20px;
}

.preview-list .panel {
    float: left;
    width: 280;
    margin-left: 20px;
}

.preview-list .gopro-thumb {
    min-width: 240px;
    max-width: 420px;
    min-height: 135px;
    background-color: #eee;
}

@media (max-width: 768px) {
    .preview-list .gopro-thumb {
        max-width: 315px;
    }
}

.preview-container {
    max-width: inherit
}
