
                    <tr id="camera-{{ camera.id }}">
                        <td><span class="status status-{{ camera.status.summary }}" title="camera is {{ camera.status.summary }}"></td>
                        <td><a href="#">{{ camera.name }}</a> <small title="{{ camera.ssid }}:{{ camera.password }}">({{ camera.ssid }})</small></td>
                        <td>{% if camera.status.mode == "video" %}{{ camera.status.mode }}: {{ camera.status.res }}, {{ camera.status.fps }}fps, {{ camera.status.fov }} fov{% else %}{{ camera.status.mode }}{% endif %}</td>
                        <td>?</td>
                        <td>{{ camera.status.batt }}%</td>
                        <td>{{ camera.last_update|timesince }}</td>
                    </tr>