{% extends "base-sidebar.html" %}

{% block title %}
GoProApp - Control
{% endblock title %}

{% block extra_head %}
        <link href="{{ STATIC_URL }}GoProApp/css/GoProApp.css" rel="stylesheet">
{% endblock extra_head %}

{% block sidebar_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Group Control</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-default" href="#">Record On</a>
        <a class="btn btn-default" href="#">Record Off</a>
        <a class="btn btn-default" href="#">Camera On</a>
        <a class="btn btn-default" href="#">Camera Off</a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Queued Commands</h3>
    </div>
    <div class="panel-body">
        <table class="table camera-list">
            <tbody>
                <tr id="command-1" class="success">
                    <td><a href="#">camera1</a></td>
                    <td>record: off</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock sidebar_content %}

{% block main_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cameras</h3>
    </div>
    <div class="panel-body">
        <table class="table camera-list">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Battery</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody>
                {% if camera_set %}
                {% for camera in camera_set %}
                    <tr id="camera-{{ camera.id }}">
                        <td><span class="status status-recording"></td>
                        <td><a href="#">{{ camera.name }}</a> <small title="{{ camera.ssid }}:{{ camera.password }}">({{ camera.ssid }})</small></td>
                        <td>85%</td>
                        <td>67 seconds ago</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No cameras in database.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <!--<a class="btn btn-default" href="#">Add Camera</a>-->
    </div>
</div>
{% endblock main_content %}

{% block extra_js %}
        <script src="{{ STATIC_URL }}GoProApp/js/GoProApp.js"></script>
{% endblock extra_js %}