{% extends "GoProApp/base.html" %}

{% block title %}
GoProApp - Preview
{% endblock title %}

{% block extra_head %}
        <link href="{{ STATIC_URL }}GoProApp/css/GoProApp.css" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
            <div class="container preview-container">
<div class="preview-list">
</div>
            </div>
{% endblock content %}

{% block extra_js %}
        <script src="{{ STATIC_URL }}GoProApp/js/SyncedList.js"></script>
        <script src="{{ STATIC_URL }}GoProApp/js/GoProApp.js"></script>
{% endblock extra_js %}