{% extends "GoProApp/base.html" %}

{% block title %}
GoProApp - Control
{% endblock title %}

{% block extra_head %}
        <link href="{{ STATIC_URL }}GoProApp/css/GoProApp.css" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
            <div class="container">
<div class="modal fade" id="camera-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal</h4>
                </div>
                <div class="modal-body">
                    <div class="camera-group-control existing-camera">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" disabled="disabled">Power: </button>
                            <button type="button" class="btn btn-primary gopro-sendcommand" gopro-camera="" gopro-command="power_on">On</button>
                            <button type="button" class="btn btn-primary gopro-sendcommand" gopro-camera="" gopro-command="power_off">Off</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" disabled="disabled">Record: </button>
                            <button type="button" class="btn btn-primary gopro-sendcommand" gopro-camera="" gopro-command="record_on">On</button>
                            <button type="button" class="btn btn-primary gopro-sendcommand" gopro-camera="" gopro-command="record_off">Off</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" disabled="disabled">Mode: </button>
                            <button type="button" class="btn btn-primary gopro-sendcommand" gopro-camera="" gopro-command="mode_video">Video</button>
                            <button type="button" class="btn btn-primary gopro-sendcommand" gopro-camera="" gopro-command="mode_still">Still</button>
                        </div>
                    </div>
                    <hr class="existing-camera">
                    <input type="hidden" name="pk" value="">
                    <div class="form-group">
                        <label class="col-xs-4">Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4">SSID</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="ssid" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4">Password</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="password" value="">
                        </div>
                    </div>
                    <hr class="existing-camera">
                    <div class="modal-gopro-thumb">
                        <img class="gopro-thumb">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left existing-camera gopro-deletecamera" gopro-camera="">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="alert alert-danger manager-failed" style="display:none">
    <strong>Warning!</strong> Lost sync with the server. Please refresh browser.
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Cameras
            <span class="pull-right proxy-health"></span>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Mode</th>
                    <th>Mins Remaining</th>
                    <th>Battery</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody class="camera-list">
            </tbody>
        </table>
        <a class="btn btn-default gopro-addcamera" href="#">Add Camera</a>
    </div>
    <div class="panel-footer">
        <span class="status status-notfound"></span> not found,
        <span class="status status-off"></span> off,
        <span class="status status-on"></span> on,
        <span class="status status-recording"></span> recording
    </div>
</div>

<div class="panel panel-default run-raw">
    <div class="panel-heading">
        <h3 class="panel-title">Raw Status Viewer</h3>
    </div>
    <div class="panel-body">
        <form role="form">
            <button type="button" class="btn btn-primary raw-hold-button pull-right">Hold</button>
            <div class="form-group">
                <label>bacpac/se</label>
                <div class="raw-group">
                    <div class="raw-hold"></div>
                    <div class="bacpacse"></div>
                </div>
            </div>
            <div class="form-group">
                <label>camera/sx</label>
                <div class="raw-group">
                    <div class="raw-hold"></div>
                    <div class="camerasx"></div>
                </div>
            </div>
            <div class="form-group">
                <label>camera/se</label>
                <div class="raw-group">
                    <div class="raw-hold"></div>
                    <div class="camerase"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        Click a camera hyperlink above to trigger the Raw Status Viewer for that camera.
    </div>
</div>
            </div>
{% endblock content %}

{% block extra_js %}
        <script src="{{ STATIC_URL }}GoProApp/js/SyncedList.js"></script>
        <script src="{{ STATIC_URL }}GoProApp/js/GoProApp.js"></script>
{% endblock extra_js %}